@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 0 0% 100%;
--foreground: 20 14.3% 4.1%;
--muted: 60 4.8% 95.9%;
--muted-foreground: 25 5.3% 44.7%;
--popover: 0 0% 100%;
--popover-foreground: 20 14.3% 4.1%;
--card: 0 0% 100%;
--card-foreground: 20 14.3% 4.1%;
--border: 20 5.9% 90%;
--input: 20 5.9% 90%;
--primary: 219 85% 34%;
--primary-foreground: 211 100% 99%;
--secondary: 60 4.8% 95.9%;
--secondary-foreground: 24 9.8% 10%;
--accent: 60 4.8% 95.9%;
--accent-foreground: 24 9.8% 10%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 20 14.3% 4.1%;
--radius: 0.5rem;
  }
  .dark {
      --background: 220 18% 14%;
      --foreground: 220 10% 98%;
      --muted: 220 15% 20%;
      --muted-foreground: 220 10% 70%;
      --popover: 220 18% 14%;
      --popover-foreground: 220 10% 98%;
      --card: 220 18% 16%;
      --card-foreground: 220 10% 98%;
      --border: 220 15% 25%;
      --input: 220 15% 25%;
      --primary: 219 85% 45%;
      --primary-foreground: 0 0% 100%;
      --secondary: 220 15% 25%;
      --secondary-foreground: 220 10% 98%;
      --accent: 219 70% 25%;
      --accent-foreground: 220 10% 98%;
      --destructive: 0 62.8% 40%;
      --destructive-foreground: 0 0% 98%;
      --ring: 219 85% 45%;
      --radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  html, body {
    @apply h-full font-sans antialiased bg-gray-50 text-foreground;
  }
  
  #root {
    @apply h-full min-h-screen;
  }
}